.icon {
  width: 2em;
  height: 2em;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4em 1em;
  border: 1px solid red;
  .back {
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }
}

.tips {
  text-align: center;
  padding: 16px 0;
}
.form {
  padding: 16px;
}
.formRow {
  margin-top: 8px;
  .buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .confirm {
      padding: 8px 48px;
      font-size: 16px;
    }
  }
}
.formLabel {
  .nameWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    > span {
      margin-right: 1em;
    }
  }
}
.formItem {
  min-height: var(--input-min-height);
  max-width: 100%;
  &.input {
    flex-grow: 1;
    border-radius: var(--input-radius);
    font-size: 18px;
    font-family: inherit;
    padding-left: 16px;
    padding-right: 16px;
    background: var(--inputPad-bg);
    font-family: 'text';
    &.error {
    }
  }
  &_name {
    font-family: 'text';
  }
  &_value {
    display: flex;
    margin-top: 4px;
  }
  &_errorHint {
    margin-top: 4px;
    color: var(--error-color);
    font-size: 14px;
    font-family: 'text';
    text-align: center;
  }
}
