.button {
  width: 100%;
  height: 56px;
  font-family: 'big-title';
  font-size: 24px;
  &_wrapper {
    padding: 18px;
  }
}

.logo {
  width: 128px;
  height: 128px;
  &_wrapper {
    padding: 72px 0;
  }
}

.icon {
  width: 2em;
  height: 2em;
}

.inputPad_wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
