.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--navbar-text);
  padding: 18px;
  .icon_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title_wrapper {
    font-family: 'big-title';
    font-size: 24px;
  }
  .fake {
    visibility: hidden;
  }
}
