.tabs {
  &_nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
    > li ~ li {
      margin-left: 24px;
    }
    > li {
      text-align: center;
      padding: 0 20px 12px 20px;
      font-size: 18px;
      &.selected {
        position: relative;
        font-family: 'title';
        background: linear-gradient(133deg, #ffffff 0%, #7daefd 38%, #d400ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::before {
          content: '';
          display: block;
          // left: 25%;
          left: 0;
          width: 100%;
          height: 6px;
          background: #fff;
          position: absolute;
          bottom: 0;
          background: linear-gradient(133deg, #5de4ff 0%, #649af3 38%, #ae2ef8 100%);
          border-radius: 3px;
        }
      }
    }
  }
}
.selected {
}
