.wrapper {
  position: relative;
  height: calc(100vh - var(--welcome-nav-height));
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--welcome-nav-height);
  background: linear-gradient( to bottom, var(--welcome-bg-start) 0%, var(--welcome-bg-end) 100%);
  &::before {
    content: '';
    position: absolute;
    top: 55px;
    left: 0;
    width: 142px;
    height: 284px;
    background: #372683;
    border-radius: 50%;
    filter: blur(30px);
    opacity: 0.7;
    z-index: 0;
    border-radius: 0 142px 142px 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: 276px;
    right: 0px;
    width: 100px;
    height: 200px;
    background: #ae2afa;
    filter: blur(40px);
    opacity: 0.3;
    z-index: var(--z-index-light);
    border-radius: 100px 0 0 100px;
  }
  > header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: var(--z-index-main);
    > img { height: 72px; }
    > h1 { font-size: 1.5rem; padding-top: 8px; }
  }
  > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 16px;
    z-index: var(--z-index-main);
  }
  > footer {
    flex-shrink: 0;
  }
}
