:root {
  --welcome-card-bg: rgba(255, 255, 255, 0.2);
  --welcome-bg-start: #3a2d76;
  --welcome-bg-end: #110b2e;
  --welcome-text: #fff;
  --welcome-nav-height: 67px;
  --welcome-nav-gap: 20px;
  --welcome-nav-gap: 20px;
  --welcome-nav-gap: 20px;
  --z-index-bottom: 10;
  --z-index-main: 2;
  --z-index-light: 0;
  --z-index-overlay: 20;
  --transition-duration: 0.75s;
  --button-text-color: #fff;
  --button-font-size: 18px;
  --border-radius: 100px;
  --button-height: 40px;
  --navbar-text: #fff;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: #000;
  --inputPad-bg: rgba(255, 255, 255, 0.15);
  --amount-color: #5de4ff;
  --button-bg-important: rgba(255, 255, 255, 0.15);

  --button-bg-important: #5c33be;
  --button-text-important: white;
  --input-min-height: 48px;
  --input-border-color: #5c33be;
  --input-radius: 10px;
  --input-shadow: rgba(0, 0, 0, 0.25);
  --error-color: #e10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #fff;
}
